.course-ribbon {
	position: absolute;
	top: 0.8rem;
	left: 0.8rem;
	border-radius: 8px;
	background-color: #8675f4;
}
.course-ribbon span {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}

.course-subtitle {
	font-size: 12px;
	color: var(--grey);
	font-weight: 500;
}

.message-container {
	border-radius: 0.5rem;
	transition: background-color 150ms;
}

.message-container:hover {
	background-color: #3c65b1d8;
}

.message-title {
	font-size: 24px;
	font-size: 600;
}

.message-subtitle {
	font-size: 14px;
	color: var(--grey);
	font-weight: 500;
}

.student-course {
	font-size: 10px;
}

.student-message {
	font-size: 12px;
}

@media screen and (min-width: 700px) {
	.message-subtitle {
		font-size: 16px;
	}

	.student-name {
		font-size: 18px;
	}
	.student-course {
		font-size: 12px;
	}

	.student-message {
		font-size: 14px;
	}
}
