.feature-decoration {
	display: inline-block;
	color: var(--light-green);
}

.mb-8 {
	margin-bottom: 12rem;
}

.top-container {
	height: 85vh;
	max-width: 1000px;
}

.feature-title {
	font-size: 28px;
}

@media screen and (min-width: 700px) {
	.feature-title {
		font-size: 44px;
	}
}

.feature-text {
	font-size: 18px;
	color: #737b7d;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.bg-dark {
	background-color: #111427;
}
.footer-text {
	font-size: 14px;
	color: #f3f3f6bf;
	font-weight: 600;
}
